@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6FAFE;
  --foreground: #171717;
  --btnPrimary: #0D71C9;
  --errorText: #F23148;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6FAFE;
    --foreground: #ededed;
    --btnPrimary: #0D71C9;
    --errorText: #F23148;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
